[submodule "pack/Encore/start/nvim-tree.lua"]
	path = pack/Encore/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "pack/Encore/start/nvim-web-devicons"]
	path = pack/Encore/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/Encore/start/gitsigns.nvim"]
	path = pack/Encore/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/Encore/start/barbar.nvim"]
	path = pack/Encore/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim.git
[submodule "pack/Encore/start/indentmini.nvim"]
	path = pack/Encore/start/indentmini.nvim
	url = https://github.com/nvimdev/indentmini.nvim.git
[submodule "pack/Encore/start/autoclose.nvim"]
	path = pack/Encore/start/autoclose.nvim
	url = https://github.com/m4xshen/autoclose.nvim.git
[submodule "pack/Encore/start/no-clown-fiesta.nvim"]
	path = pack/Encore/start/no-clown-fiesta.nvim
	url = https://github.com/aktersnurra/no-clown-fiesta.nvim.git
[submodule "pack/Encore/start/lackluster.nvim"]
	path = pack/Encore/start/lackluster.nvim
	url = https://github.com/slugbyte/lackluster.nvim.git
[submodule "pack/Encore/start/nvim-lspconfig"]
	path = pack/Encore/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/Encore/start/cmp-nvim-lsp"]
	path = pack/Encore/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/Encore/start/cmp-nvim-lsp-signature-help"]
	path = pack/Encore/start/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
[submodule "pack/Encore/start/nvim-cmp"]
	path = pack/Encore/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/Encore/start/nvim-treesitter"]
	path = pack/Encore/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
